.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  min-height: 100vh;
  /*flex-direction: column;*/
}

.App-workspace {
  display: flex;
  width: 400px;
  height: 300px;
  background-color: yellow;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.App-workspace__label {

}

.App-workspace__buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttons__item {
  width: 50px;
  height: 25px;
}
